{% extends 'base.html.twig' %}

{% block title %}New Coif{% endblock %}

{% block body %}
    <h1>Create new Coif</h1>

    {{ include('coif/_form.html.twig') }}

    <a href="{{ path('coif_index') }}">back to list</a>
{% endblock %}
